/**
 * Draw.li Css
 */

body {
  padding : 0px;
  margin : 0px;
  background-color : #EFF1F2;
  width : 100%;
}

/* reset */
div {
  padding : 0px;
  margin : 0px;
}

.header {
  background-color : #d2523e;
  height : 44px;
  overflow : hidden;
  width : 100%;
}

  .header-title {
    color  : #EFF1F2;
    font-family: Helvetica;
    font-size : 30px;
    text-align: center;
    padding-top : 5px;
  }

.card-holder {
  padding : 0px;
}

.card {
  border-radius : 2px;
  border : 1px solid #E6E9EB;
  background-color : #F5F9FB;

  padding : 10px;
}

  .card-title {
    font-size : 25px;
    font-family : Helvetica;
  }

  .card-image {
    background-color : #E4EAEC;
    width : 100%;
    border-radius: 2px;
    border : 0px solid #000;
  }

  .card-participate {
    background-color : #d2523e;
    height : 44px;
    border-radius : 2px;
    margin-bottom : 10px;
  }

    .card-participate-title {
       color  : #EFF1F2;
      font-family: Helvetica;
      font-size : 30px;
      text-align: center;
      padding-top : 5px;
    }

.hide {
  display : none;
}


/**
 * Editor
 */
.navigation-header{
  height : 44px;
  overflow : hidden;
  margin-top : 2%;
  margin-bottom : 2%;
}

.navigation-button-back {
  float : left;
  height : 44px;
  background-color: #d2523e;
  width  : 47%;
  margin-left : 2%;
  border-radius:  22px 2px 2px 22px;
}
  
  .navigation-button-back-title {
    color  : #EFF1F2;
    font-family: Helvetica;
    font-size : 30px;
    text-align: center;
    padding-top : 5px;
  }

.navigation-button-next {
  float : right;
  height : 44px;
  background-color: #86b978;
  width  : 47%;
  margin-right : 2%; 
  border-radius:  2px 22px 22px 2px;
}

  .navigation-button-next-title {
    color  : #EFF1F2;
    font-family: Helvetica;
    font-size : 30px;
    text-align: center;
    padding-top : 5px;
  }

.main-canvas {
  width : 100%;
}

#canvas-wrapper {
  position : absolute;
  top : 0px;
  left : 0px;
}